.inputBox{
    background-color: var(--color-gray-1);
    border-radius: 8px;
    border: 2px solid var(--color-gray-1);
    width: 87%;
    height: 52.8px;
    display: flex;        
    padding: 0px 16px;
    gap: 10px;
    margin-bottom: 10px;
}