:root {
    
    --font-primary: 'Nunito', sans-serif;
    --font-secundary: 'Inter', sans-serif;
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secundary: #03B898;
    --color-gray-4: #212529;
    --color-gray-3: #868E96;
    --color-gray-2: #E9ECEF;
    --color-gray-1: #F8F9FA;
}